<?xml version="1.0" encoding="utf-8"?>
<PluginDescriptor>
	<PluginImplementation>
		<interfaceClass>org.bimserver.plugins.services.ServicePlugin</interfaceClass>
		<implementationClass>org.bimserver.elasstic.EarthQuakeService</implementationClass>
		<enabled>true</enabled>
	</PluginImplementation>
	<PluginImplementation>
		<interfaceClass>org.bimserver.plugins.services.ServicePlugin</interfaceClass>
		<implementationClass>org.bimserver.elasstic.EvacuationService</implementationClass>
		<enabled>true</enabled>
	</PluginImplementation>
	<PluginImplementation>
		<interfaceClass>org.bimserver.plugins.services.ServicePlugin</interfaceClass>
		<implementationClass>org.bimserver.elasstic.ExplosionService</implementationClass>
		<enabled>true</enabled>
	</PluginImplementation>
	<PluginImplementation>
		<interfaceClass>org.bimserver.plugins.services.ServicePlugin</interfaceClass>
		<implementationClass>org.bimserver.elasstic.PlainService</implementationClass>
		<enabled>true</enabled>
	</PluginImplementation>
</PluginDescriptor>